<DOCTYPE html>
	<html lang='en'>
	<head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

      <script type='text/javascript'>
         function send_message() {
				var last_answer=$('#input_ID').val()
				var url = "https://newslens-chatbot.herokuapp.com:5000/last_answer/" +last_answer
                $('#chat_container').append("<div class='last_answer' >" +last_answer+"</div>");

                $('#chat_container').append("<center> <img src='https://i.stack.imgur.com/SBv4T.gif' title='...' /> </center>"); //displays loading gif for a second
                console.log("Asking server for response ")

				$.getJSON(url, function(server_response) {
					console.log(server_response['chatbot_response'])
					console.log("Getting response from " +url)
                    var response = server_response['chatbot_response'].replace(/(?:\r\n|\r|\n)/g, '<br>')
                    $("#chat_container img:last-child").remove()
                    $('#chat_container').append("<div class='server_reply'> <font color='white'> "+response +"</div>");
                }).fail(function(jqXHR, textStatus, errorThrown)  { 
                	console.log("Couldn't get response from server, " +textStatus); })
                .done(function() { alert('getJSON request succeeded!'); })
                .always(function() { alert('getJSON request ended!'); });



			}	
		</script>

		<meta charset="utf-8" />
		<title>Newslens Chatbot</title>
		<link type="text/css" rel="stylesheet"href="{{ url_for('static',filename='styles/mainpage.css')}}" />


		      <div name = "ID container" id='id_container'></div>
		      <div name = "Time Container" id='time_container'></div>

		<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script> 

		<script type='text/javascript'>
			$( window ).on( "load", function() {
		

			console.log("Running script to load userID")

			if(Cookies.get('user_id') == undefined){
				console.log("No user_id defined, creating a new one.");
				var url = "https://newslens-chatbot.herokuapp.com:5000/get_new_userid";

				$.getJSON(url, function(server_response) {
					console.log("server response received " +server_response["user_id"])
					if(server_response["user_id"] != "Already Defined"){
						console.log("set cookie " +server_response["user_id"])
						try{
						Cookies.set("user_id", server_response["user_id"])
						$('#id_container').append("<div class='userID'> " +"Current User: " + server_response["user_id"]+"</div>");
					}catch(err){
						console.log(err)
					}

					}else{
						console.log("User has already been defined as " +server_response["defined_id"])
						$('#id_container').append("<div class='userID'> " +"Current User: " + server_response["defined_id"]);

					}
                })
			}else{
				console.log("Cookie: " + Cookies.get('user_id'))
				$('#id_container').append("<div class='userID'> " +"Current User: " + Cookies.get('user_id')+"</div>");
				var url = "https://newslens-chatbot.herokuapp.com:5000/set_old_userid/" +Cookies.get('user_id');

				$.getJSON(url, function(server_response) {
					console.log("set id to " +server_response["user_id"])

                })

			}
			 });


		console.log("Getting time")
			var url = "https://newslens-chatbot.herokuapp.com:5000/getLastTime/" +Cookies.get('user_id');
			userId = $('#id_container').text()
			console.log("USER ID IS GOING TO BE " +Cookies.get('user_id'))
			$.getJSON(url, function(server_response) {
				$('#time_container').append("<div class='timeId'> " + server_response["lastTime"]);
			})
			
				
		</script>

	</head>
<center>
	<form>
		<p><input id="input_ID" type="text" name="input"> </p>
	</form>
  <button onclick="send_message()">Submit</button>  

</center>
  <body>
      <div name = "chat_container" id='chat_container'></div>

  </body>




  </html>

