<DOCTYPE html>
	<html lang='en'>
	<head>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<script type='text/javascript'>
			function send_message() {
				console.log("Button clicked") //I don't even get this log message!
				var last_answer=$('#input_ID').val()
				var url = "http://localhost:5000/last_answer/" +last_answer
				$.getJSON(url, success(server_response) {
					console.log(server_response);
					console.log(server_response['chatbot_response'])
					console.log("Getting response from " +url)
					$('#chat_container').append("<div class='server_reply'>"+server_response['chatbot_response']+"</div>");
				})
			}	
		</script>

		<meta charset="utf-8" />
		<title>Newslens Chatbot</title>
		<link type="text/css" rel="stylesheet"
		href="{{ url_for('static',
		filename='hello.css')}}" />
	</head>

	<form>
		<p><input id="input_ID" type="text" name="input"> </p>
	</form>

	 <button onclick="send_message()">Submit</button>  

	
	<body>
		<div id='chat_container'></div>
	</body>
	</html>

